.example-button-row{
    position: fixed;
    right: -50px;
    z-index: 1;
    top: 15px;
    .mat-button{
        position: relative;
        left: 0%;
    }
    .mat-mini-fab{
        display: block;
        margin: 7px auto;
    }
    .mat-fab{
        position: relative;
        left: -56px;
    }
}