<section class="category-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a [routerLink]="['/dashboard/categories/1']">
                    <div class="collection-banner shadow p-left text-center">
                        <img class="img-fluid" src="./assets/homebanner/men.jpg" alt="Men banner images">
                        <div class="contain-banner">
                            <div>
                                <h4>Save 60%</h4>
                                <h3>Men</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/dashboard/categories/2']">
                    <div class="collection-banner shadow p-left text-center">
                        <img class="img-fluid" src="./assets/homebanner/woman.jpg" alt="Woman banner images">
                        <div class="contain-banner">
                            <div>
                                <h4>Save 50%</h4>
                                <h3>Woman</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/dashboard/categories/3']">
                    <div class="collection-banner shadow p-right text-center">
                        <img class="img-fluid" src="./assets/homebanner/kids1.jpg" alt="Kids banner images">
                        <div class="contain-banner">
                            <div>
                                <h4>Save 75%</h4>
                                <h3>Kids</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/dashboard/categories/4']">
                    <div class="collection-banner shadow p-right text-center">
                        <img class="img-fluid" src="./assets/homebanner/healthcare.jpg" alt="Kids banner images">
                        <div class="contain-banner">
                            <div>
                                <h4>Save 25%</h4>
                                <h3>beauty</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>