<section class="category-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a [routerLink]="['/']">
                    <div class="collection-banner p-right text-center">
                        <img class="img-fluid" src="/assets/homebanner/sub-banner1.jpg" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4>Save 50%</h4>
                                <h3>Men</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/']">
                    <div class="collection-banner p-right text-center">
                        <img class="img-fluid" src="/assets/homebanner/sub-banner2.jpg" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4>Save 50%</h4>
                                <h3>Woman</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>