.container{
    width:100%;
    height:100%;
    position: relative;
}
.login-container {
    display: flex;
    flex-direction: row;
    height:100%;
    justify-content: center;
    align-items: center;
}
.example-card {
    padding: 0;
    min-width: 300px;
    max-width: 300px;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 60px;
    justify-content: center;
}
.mat-form-field{
    display:block;
 }
.mat-icon {
    font-size: 1.5em;
}
.mat-card-content {
    margin: 20px 0px;
    padding: 0 20px;
}
.mat-card>.mat-card-actions:last-child {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.mat-card-actions{
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
    text-align: center;
}
.cdk-overlay-container, .cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

