.center{
    align-items: center;
}
.space-around {
    justify-content: space-around;
}
.nowrap{
    flex-wrap: nowrap;
}
p{  
    text-transform: uppercase;
    margin: 0;
    flex: 1 1 66%;
    font-size: 0.65rem;
    line-height: 15px;
    color: #494949;
}
button{
    letter-spacing: 0.75px;
}