mat-card-actions{
    align-items: center;
    mat-icon{
        margin: 0 5px;
        cursor: pointer;
    }
}
.example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    //background-size: cover;
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
    }
  }
#wishlist{
    .mat-card-image{
        margin: 0 auto 20px;
        width: auto;
        max-width: 100%;
        max-height: 250px;
        display: block;
      }
}
.mat-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    overflow: hidden;
    font-size: 30px;
    width: auto;
    height: auto;
}
.mat-card-tiltle{
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.mat-card-subtitle {
    display: block;
    margin-bottom: 16px;
    font-size: 10px;
}
.mat-card-image{
    width: auto;
    margin: 0 -16px 16px -16px;
    max-height: 165px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
.img-container{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    max-height: 260px;
    min-height: 200px;
    align-items: center;
}
.flex-items{
    flex : 0 0 50%;
    margin-bottom: 20px;
    padding: 0;
    .product{
        padding:35px 15px 20px 15px;
    }
}
section {
    display: flex;
    margin: 0 0 15px;
    flex-direction: row-reverse;
  }
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }