
<div [ngClass]="{'app-container': !this._userService.loggedIn()}">
   <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="sidenav" >
        <div class="sidemenu-header">
            <mat-toolbar>
                  <mat-toolbar-row>
                        <a mat-mini-fab class="logo" color="primary" aria-label="Example icon button with a heart icon">
                          <span>R</span>
                        </a>
                        <span class="sitename">AMDemo</span>
                        <span class="menu-spacer"></span>
                         <button mat-icon-button (click)="sidenav.toggle()">
                           <mat-icon>arrow_back</mat-icon>
                        </button>
                  </mat-toolbar-row>
            </mat-toolbar>
        </div>

        <div class="sidemenu"> 
            <mat-nav-list>
               <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-dashboard fa-icon"> </i>Dashboard</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <mat-divider></mat-divider>
               <a mat-list-item [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-male fa-icon"></i>Men</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-female fa-icon"> </i>Women</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-child fa-icon"> </i>Kids</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-heart fa-icon"> </i>Beauty & Personal Care</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-spoon fa-icon"> </i>Home & Living</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard']">
                  <span matLine><i class="fa fa-tv fa-icon"> </i>Electronics</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <mat-divider></mat-divider>
               <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/dashboard/wishlists']">
                  <span matLine><i class="fa fa-heart fa-icon"> </i>Wishlist</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard/orders']">
                  <span matLine><i class="fa fa-spoon fa-icon"> </i>Orders</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               <a mat-list-item [routerLink]="['/dashboard/account']">
                  <span matLine><i class="fa fa-tv fa-icon"> </i>Account</span>
                  <mat-icon role="img">arrow_right</mat-icon>
               </a>
               
            </mat-nav-list>
        </div> 
      </mat-sidenav>
      <mat-sidenav-content>
        <app-nav *ngIf="this._userService.loggedIn()" (menuToggle)="sidenav.toggle()"></app-nav>
        <div [class.main]="'main'" [ngClass]="selectedTheme">
            <router-outlet></router-outlet>
         </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

 


