
  <!-- <div class="img-container">
    <img mat-card-image src="./assets/{{product.id}}.png">
  </div>
  <div class="product-name">
    <<div mat-card-avatar class="example-header-image">
      <img src="./assets/{{product.id}}.png"/>
    </div>
    <div mat-card-title class="mat-card-tiltle">{{product.name}}</div>
    <div mat-card-subtitle>Dog Breed</div>
  
  </div> -->


    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="./assets/{{product.id}}.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{product.name}}</a>
          </h4>
          <h6 class="mn">$24.99</h6>
          <custom-starrating [color]="'accent'" [star]="5"></custom-starrating>
          <p class="card-text mt-2" *ngIf="closeIcon">{{ desc | trim : 40 }}</p>
          </div>
          <div class="card-footer shadow" *ngIf="!closeIcon">
            <div class="container">
              <div class="row rating-container">
                  <custom-like [color]="'primary'"  [inputStyle]="'20px'"></custom-like>
                  <custom-favourite [color]= "'primary'" [currentProduct]="product" [dimensions]="'20px'" (valueChange)="addToWishlist($event,product)"></custom-favourite>
                  <custom-addtocart [color]="'primary'"  [product]="product" [inputStyle]="'20px'" (addtocart)="addtocart($event)"></custom-addtocart>
              </div>
            </div>
          </div>
        <div class="card-footer shadow bg-white" *ngIf="closeIcon">
          <div class="container">
            <div class="row flex-end">
                <button mat-flat-button color="primary" (click)="removeItem(product.id)">Remove</button>
            </div>
          </div>
        </div>
    </div>


