mat-card-actions{
    align-items: center;
    
    .favoriteBtn{
        background: transparent;
        border: 0;
        outline: none;
    }
    .favoriteBtn:disabled{
        cursor: auto;
    }
    mat-icon{
        margin: 0 5px;
        cursor: pointer;
    }
}
.example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    //background-size: cover;
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
    }

  }
  .mat-card-image{
    width: auto;
    margin: 0 -16px 16px -16px;
    max-height: 300px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
