
    .favoriteBtn{
        background: transparent;
        border: 0;
        outline: none;
        position: absolute;
        top: 10px;
        right: 0;
    }
    .favoriteBtn:disabled{
        cursor: auto;
    }
   
.menu-spacer {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.rating-container{
    justify-content: space-between;
    align-items: center;
}
.card{
    .card-body {
        padding: 1rem 0.75rem;
        .card-title {
            margin-bottom: 0.75rem;
            font-size: 0.75rem;
            min-height: 32px;
            line-height: 1.4;
    
            a{
                color:#313030;
            }
        }
        
    }
    .card-footer {
        padding: 0.75rem 0.75rem;
    }
}
.mb-15{
    margin-bottom:15px;
}
