.mat-card-actions{
    align-items: center;
    margin-bottom: 0;
    margin:0;
    .favoriteBtn{
        background: transparent;
        border: 0;
        outline: none;
    }
    .favoriteBtn:disabled{
        cursor: auto;
    }
    mat-icon{
        margin: 0 5px;
        cursor: pointer;
    }
}

.example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    //background-size: cover;
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
    }
    .mat-card-header {
        margin: 0 !important;
    }

  }
  .mat-card-image{
    width: auto;
    margin: 0 -16px 16px -16px;
    max-height: 165px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.mat-card-tiltle{
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.mat-card-subtitle {
    display: block;
    margin-bottom: 16px;
    font-size: 10px;
}
.img-container{
    display: -webkit-box;
    display: flex;
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    -webkit-box-align: center;
    /* flex-wrap: wrap; */
    max-height: 260px;
    min-height: 200px;
    align-items: center;
}