/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 body{
    
    background-position: center;
    background-size: cover;
    background-repeat:repeat;
    min-height: 100%;
    /*background-image: linear-gradient(to right,#89f7fe , #66a6ff);  */
} 
h1{
    color:#fff;
    font-weight: 400;
    font-size: 3em;
}
input:-internal-autofill-selected {
    background-color: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}