/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 body{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: linear-gradient(to right,#89f7fe , #66a6ff);
    display: flex;
    align-items: center;
    justify-content: center;
} 
h1{
    color:#fff;
    font-weight: 400;
    font-size: 3em;
}