.example-card{
    margin-bottom: 10px;
    .example-header-image {
        //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        //background-size: cover;
        img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            flex-shrink: 0;
            object-fit: cover;
        }
      }
}
mat-card{
   padding:16px 16px 25px 16px;
}
mat-card-actions{
    align-items: center;
    mat-icon{
        margin: 0 5px;
        cursor: pointer;
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
    .items {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        .inner{
            background-color: rgba(0, 0, 0, 0.7);
            display: block;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 6vw;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;
            width: 100%;
        }
    }
    .item-1{
        width: 100%;
        .inner{
            background: radial-gradient(rgba(36, 16, 16, 0.3), rgb(32, 23, 23)),url("../../assets/1.jpg");
        }
    }
    .item-2{
        .inner{
            background: radial-gradient(rgba(36, 16, 16, 0.3), rgb(32, 23, 23)),url("../../assets/2.jpg");
        }
    } 
    .item-3{
        width: 100%;
        .inner{
            background: radial-gradient(rgba(36, 16, 16, 0.3), rgb(32, 23, 23)),url("../../assets/1.jpg");
        }
    } 
  
}