.example-card{
    margin-bottom: 10px;
   
}
mat-card{
   padding:16px 16px 25px 16px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    .items {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        .inner{
            background-color: rgba(0, 0, 0, 0.7);
            display: block;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 6vw;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;
            width: 100%;
        }
    }
    .item-1{
        width: 100%;
        .inner{
            background: radial-gradient(rgba(36, 16, 16, 0.3), rgb(32, 23, 23)),url("../../assets/1.jpg");
        }
    }
    .item-2{
        .inner{
            background: radial-gradient(rgba(36, 16, 16, 0.3), rgb(32, 23, 23)),url("../../assets/2.jpg");
        }
    } 
    .item-3{
        width: 100%;
        .inner{
            background: radial-gradient(rgba(36, 16, 16, 0.3), rgb(32, 23, 23)),url("../../assets/1.jpg");
        }
    } 
  
}