<!-- <div class="homeslider">
    <ngbd-carousel-basic></ngbd-carousel-basic>
</div> -->

<!-- <div class="container p-0">
  <div class="row">
    <div class="col-md-12">
      <ngbd-carousel-basic></ngbd-carousel-basic>
    </div>
  </div>
</div> -->
<ngbd-carousel-basic></ngbd-carousel-basic>
<app-collectionbanner></app-collectionbanner>
<home-productlist></home-productlist>
<!-- <div class="product-list mt-4">
  <div class="container pn">
    <div class="row mn">
      <div class="col pn" *ngFor="let item of items" [style.background]="'#fff'">
          <div class="product">
            <product [product]="item"></product>
          </div>
      </div>
    </div>
  </div>
</div> -->
