<div class="container">
  <div class="items item-1">
      <div class="inner">Casuals</div>
  </div>
  <div class="items item-2">
    <div class="inner">Formals</div>
  </div>
  <div class="items item-3">
    <div class="inner">T-shirts</div>
  </div>
</div>

<div fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayout.md="row"
fxLayoutAlign="center">
    <mat-card class="example-card" *ngFor="let item of items" [style.background]="'#fff'">
        <product [product]="item"></product>
    </mat-card>
</div>
