<div class="homeslider">
    <ngbd-carousel-basic></ngbd-carousel-basic>
</div>

<!--<div class="container">
  <div class="items item-1">
      <div class="inner">Casuals</div>
  </div>
  <div class="items item-2">
    <div class="inner">Formals</div>
  </div>
  <div class="items item-3">
    <div class="inner">T-shirts</div>
  </div>
</div>
-->
<div fxLayout="row wrap" class="productlist-container">
      <mat-card class="example-card flex-items" *ngFor="let item of items" [style.background]="'#fff'">
        <div class="product">
          <product [product]="item"></product>
        </div>
      </mat-card>
</div>
