.example-button-row{
    button{
        margin-right: 8px;
    }
    .btn-indigo{
        background-color:#E91E63;
    }
    .btn-deeppurple{
        background-color:#673AB7;
    }
    .btn-purple{
        background-color:#9C27B0;
    }
    .btn-orange{
        background-color: #FF5722;
    }
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }